.layout-container {
  margin: 0;
  background-color: #E0E0E0; /* 옅은 노란색 */
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
  padding: 20px;
  width: 800px; /* 고정 폭을 800px로 설정 */
  margin: 0 auto;  /* 양쪽 마진을 자동으로 설정하여 중앙에 위치시킵니다. */
  background-color: #ffffff; /* 레이아웃의 배경색을 흰색으로 설정 */
}